                                                        * {
                                                            margin: 0;
                                                            padding: 0;
                                                            box-sizing: border-box;
                                                            font-family: 'Lato', sans-serif;
                                                        }
                                                        
                                                        .burger-btn,
                                                        .burger-btn span,
                                                        .burger-btn::before {
                                                            display: none;
                                                        }
                                                        
                                                        .container {
                                                            width: 60%;
                                                            margin: 0 20%;
                                                        }
                                                        
                                                        .main-bg {
                                                            background-repeat: no-repeat;
                                                            background-position: center;
                                                            background-size: cover;
                                                        }
                                                        
                                                        .main-header {
                                                            display: flex;
                                                            align-items: center;
                                                            justify-content: space-between;
                                                        }
                                                        
                                                        .img-logo {
                                                            width: 50px;
                                                        }
                                                        
                                                        .nav-menu {
                                                            padding-top: 30px;
                                                        }
                                                        
                                                        .menu {
                                                            display: flex;
                                                        }
                                                        
                                                        .menu li {
                                                            list-style-type: none;
                                                            margin-left: 20px;
                                                        }
                                                        
                                                        .menu li>a {
                                                            text-decoration: none;
                                                            color: #ECF0F1;
                                                            font-weight: light;
                                                        }
                                                        
                                                        .logo {
                                                            color: #ECF0F1;
                                                        }
                                                        
                                                        i.pencil {
                                                            font-size: 25px;
                                                            transform: rotate(-45deg);
                                                        }
                                                        
                                                        i.left {
                                                            margin-right: -5px;
                                                            font-size: 20px;
                                                        }
                                                        
                                                        i.right {
                                                            margin-left: -5px;
                                                            font-size: 20px;
                                                        }
                                                        
                                                        .main-part {
                                                            padding: 200px 0 270px 0;
                                                            position: relative;
                                                        }
                                                        
                                                        .hexagon {
                                                            width: 70px;
                                                            height: 48px;
                                                            background: #ECF0F1;
                                                            position: relative;
                                                            margin: 0 auto;
                                                        }
                                                        
                                                        .hexagon:before {
                                                            content: "";
                                                            position: absolute;
                                                            top: -20px;
                                                            left: 0;
                                                            width: 0;
                                                            height: 0;
                                                            border-left: 35px solid transparent;
                                                            border-right: 35px solid transparent;
                                                            border-bottom: 20px solid #ECF0F1;
                                                        }
                                                        
                                                        .hexagon:after {
                                                            content: "";
                                                            position: absolute;
                                                            bottom: -20px;
                                                            left: 0;
                                                            width: 0;
                                                            height: 0;
                                                            border-left: 35px solid transparent;
                                                            border-right: 35px solid transparent;
                                                            border-top: 20px solid #ECF0F1;
                                                        }
                                                        
                                                        .arrow {
                                                            color: #333333;
                                                            margin-left: 10px;
                                                        }
                                                        
                                                        .arrow-text {
                                                            font-weight: bold;
                                                            color: #333333;
                                                            text-align: center;
                                                            margin-top: 3px;
                                                        }
                                                        
                                                        .know-more-text {
                                                            text-align: center;
                                                            margin-top: 55px;
                                                            margin-bottom: 35px;
                                                            color: #ECF0F1;
                                                            font-family: 'Raleway', sans-serif;
                                                            font-weight: 400;
                                                            font-size: 15px;
                                                        }
                                                        
                                                        button.know-more {
                                                            padding: 7px 30px;
                                                            border: 2px solid #ECF0F1;
                                                            border-radius: 4px;
                                                            background-color: transparent;
                                                            font-family: 'Raleway', sans-serif;
                                                            color: #ECF0F1;
                                                            font-weight: 500;
                                                            margin-left: 43%;
                                                        }
                                                        
                                                        .scroll-down {
                                                            text-align: center;
                                                            vertical-align: bottom;
                                                            margin-bottom: -10px;
                                                            position: absolute;
                                                            bottom: 40px;
                                                            left: 44%;
                                                            color: #ECF0F1;
                                                        }
                                                        
                                                        i.scroll {
                                                            font-size: 32px;
                                                        }
                                                        
                                                        .scroll-text {
                                                            text-transform: uppercase;
                                                            font-weight: 300;
                                                            margin-top: 5px;
                                                        }
                                                        
                                                        .set-top {
                                                            width: 100%;
                                                            position: relative;
                                                            top: 96px;
                                                        }
                                                        
                                                        .set-bottom {
                                                            width: 100%;
                                                            position: relative;
                                                            top: -167px;
                                                        }
                                                        
                                                        .our-services {
                                                            background-color: #FAFCFE;
                                                            height: 430px;
                                                        }
                                                        
                                                        .our-services-h2 {
                                                            color: #2980B9;
                                                            text-transform: uppercase;
                                                            font-family: 'Raleway', sans-serif;
                                                            text-align: center;
                                                            margin-top: -130px;
                                                        }
                                                        
                                                        .line {
                                                            background-color: #2980B9;
                                                            height: 4px;
                                                            width: 25px;
                                                            margin: 5px auto;
                                                        }
                                                        
                                                        .cart {
                                                            display: flex;
                                                            justify-content: space-between;
                                                            text-align: center;
                                                            margin-top: 50px;
                                                            color: #616161;
                                                            font-family: 'Raleway', sans-serif;
                                                        }
                                                        
                                                        .cart-item {
                                                            width: 18%;
                                                        }
                                                        
                                                        .cart-item i {
                                                            font-size: 40px;
                                                            margin-bottom: 10px;
                                                        }
                                                        
                                                        .services-text {
                                                            color: #919292;
                                                            font-size: 14px;
                                                        }
                                                        
                                                        .services-title {
                                                            font-weight: 600;
                                                            margin-bottom: 20px;
                                                        }
                                                        
                                                        .our-portfolio {
                                                            background-repeat: no-repeat;
                                                            background-size: cover;
                                                        }
                                                        
                                                        .gradient {
                                                            background-color: rgba(0, 0, 0, .7);
                                                        }
                                                        
                                                        .our-portfolio-h2 {
                                                            color: #FAFCFE;
                                                            text-transform: uppercase;
                                                            font-family: 'Raleway', sans-serif;
                                                            text-align: center;
                                                            padding-top: 200px;
                                                        }
                                                        
                                                        .line2 {
                                                            background-color: #FAFCFE;
                                                            height: 4px;
                                                            width: 25px;
                                                            margin: 5px auto;
                                                            margin-bottom: 35px;
                                                        }
                                                        
                                                        .our-portfolio-items {
                                                            display: flex;
                                                            flex-wrap: wrap;
                                                            width: 100%;
                                                            justify-content: center;
                                                            padding-bottom: 18%;
                                                        }
                                                        
                                                        .portfolio-item {
                                                            height: 150px;
                                                            margin: 0;
                                                            padding: 0;
                                                            width: 300px;
                                                            position: relative;
                                                        }
                                                        
                                                        .item-gradient {
                                                            background-color: rgba(58, 137, 189, .8);
                                                            height: 160px;
                                                            position: absolute;
                                                            width: 300px;
                                                            display: none;
                                                        }
                                                        
                                                        .portfolio-img {
                                                            height: 160px;
                                                            margin: 0;
                                                            padding: 0;
                                                            width: 300px;
                                                        }
                                                        
                                                        .plus {
                                                            width: 70px;
                                                            height: 70px;
                                                            border-radius: 100%;
                                                            background-color: #FAFCFE;
                                                            margin: 0 auto;
                                                            color: rgba(58, 137, 189);
                                                            font-size: 60px;
                                                            text-align: center;
                                                        }
                                                        
                                                        .text-hover {
                                                            color: #FAFCFE;
                                                            font-size: 22px;
                                                            margin: 30px;
                                                            font-weight: 600;
                                                            margin-bottom: 10px;
                                                        }
                                                        
                                                        .portfolio-item:hover .item-gradient {
                                                            display: block;
                                                        }
                                                        
                                                        .user-table {
                                                            border: 1px solid gray;
                                                            border-radius: 4px;
                                                            border-collapse: collapse;
                                                            margin-top: 20px;
                                                        }
                                                        
                                                        .table {
                                                            background-color: #FAFCFE;
                                                            margin-top: -170px;
                                                        }
                                                        
                                                        .op-h2 {
                                                            padding-top: 40px;
                                                        }
                                                        
                                                        .user-table .table-heading,
                                                        td {
                                                            border: 1px solid #919292;
                                                            border-collapse: collapse;
                                                            width: 25%;
                                                            height: 60px;
                                                            text-align: center;
                                                        }
                                                        
                                                        .table-text {
                                                            width: 45%;
                                                            text-align: center;
                                                            margin: 20px auto;
                                                            color: #919292;
                                                        }
                                                        
                                                        .table-heading {
                                                            color: rgb(58, 57, 57);
                                                            font-size: 20px;
                                                            font-weight: 700;
                                                            cursor: pointer;
                                                        }
                                                        /* Responsive */
                                                        
                                                        @media (max-width: 992px) and (min-width:481px) {
                                                            .set-bottom {
                                                                width: 100%;
                                                                position: relative;
                                                                top: -107px;
                                                            }
                                                            .nav-menu {
                                                                padding-top: 30px;
                                                            }
                                                            .main-header {
                                                                padding: 0;
                                                            }
                                                            .menu li {
                                                                list-style-type: none;
                                                                margin-left: 6px;
                                                                font-size: 13px;
                                                            }
                                                            i.left {
                                                                font-size: 14px;
                                                            }
                                                            i.right {
                                                                font-size: 14px;
                                                            }
                                                            i.pencil {
                                                                font-size: 20px;
                                                            }
                                                            .our-services-h2 {
                                                                margin-top: -75px;
                                                                font-size: 22px;
                                                            }
                                                            .cart-item i {
                                                                font-size: 35px;
                                                            }
                                                            .cart-item {
                                                                width: 24%;
                                                            }
                                                            .services-text {
                                                                color: #919292;
                                                                font-size: 12px;
                                                            }
                                                            .set-top {
                                                                width: 100%;
                                                                position: relative;
                                                                top: 125px;
                                                            }
                                                            .our-portfolio-h2 {
                                                                font-size: 22px;
                                                                padding-top: 150px;
                                                            }
                                                            button.know-more {
                                                                margin-left: 38%;
                                                            }
                                                            .scroll-down {
                                                                left: 41%;
                                                                color: #ECF0F1;
                                                            }
                                                            .portfolio-item {
                                                                height: 140px;
                                                                width: 295px;
                                                            }
                                                            .portfolio-img {
                                                                height: 140px;
                                                                margin: 0;
                                                                padding: 0;
                                                                width: 295px;
                                                            }
                                                            .text-hover {
                                                                font-size: 20px;
                                                                margin: 22px;
                                                                margin-left: 50px;
                                                            }
                                                            .plus {
                                                                width: 55px;
                                                                height: 55px;
                                                                font-size: 44px;
                                                                text-align: center;
                                                            }
                                                            .item-gradient {
                                                                background-color: rgba(58, 137, 189, .8);
                                                                height: 140px;
                                                                position: absolute;
                                                                width: 295px;
                                                                display: none;
                                                            }
                                                            .portfolio-item:hover .item-gradient {
                                                                display: block;
                                                            }
                                                            .our-portfolio+.set-bottom {
                                                                width: 100%;
                                                                position: relative;
                                                                top: -166px;
                                                            }
                                                            .our-portfolio-items {
                                                                padding-bottom: 28%;
                                                            }
                                                            .table-text {
                                                                font-size: 13px
                                                            }
                                                            .burger-btn span {
                                                                display: none;
                                                            }
                                                            .arrow {
                                                                margin-left: 25%;
                                                            }
                                                        }
                                                        
                                                        @media (max-width: 480px) and (min-width:320px) {
                                                            .main-part {
                                                                padding: 140px 0 145px 0;
                                                                position: relative;
                                                            }
                                                            .hexagon {
                                                                width: 56px;
                                                                height: 45px;
                                                                background: #ECF0F1;
                                                                position: relative;
                                                                margin: 0 auto;
                                                            }
                                                            .hexagon:before {
                                                                top: -17px;
                                                                border-left: 28px solid transparent;
                                                                border-right: 28px solid transparent;
                                                                border-bottom: 17px solid #ECF0F1;
                                                            }
                                                            .hexagon:after {
                                                                bottom: -17px;
                                                                border-left: 28px solid transparent;
                                                                border-right: 28px solid transparent;
                                                                border-top: 17px solid #ECF0F1;
                                                            }
                                                            .arrow {
                                                                color: #333333;
                                                                margin-left: 16px;
                                                            }
                                                            .arrow-text {
                                                                font-size: 14px;
                                                            }
                                                            i.left {
                                                                margin-right: -5px;
                                                                font-size: 10px;
                                                            }
                                                            i.right {
                                                                margin-left: -5px;
                                                                font-size: 10px;
                                                            }
                                                            i.pencil {
                                                                font-size: 15px;
                                                                transform: rotate(-45deg);
                                                            }
                                                            .know-more-text {
                                                                margin-top: 37px;
                                                                margin-bottom: 35px;
                                                                font-size: 10px;
                                                            }
                                                            button.know-more {
                                                                padding: 10px 0px;
                                                                border: 2px solid #ECF0F1;
                                                                margin-left: 20%;
                                                                font-size: 12px;
                                                                width: 64%;
                                                            }
                                                            .menu {
                                                                display: none;
                                                                background-color: #ECF0F1;
                                                                color: grey;
                                                                height: 250px;
                                                                position: absolute;
                                                                right: -60px;
                                                                top: 65px;
                                                                z-index: 2;
                                                                transition: all .3s ease
                                                            }
                                                            .main-header {
                                                                position: relative;
                                                            }
                                                            .menu li>a {
                                                                display: block;
                                                                color: grey;
                                                                border-bottom: 1px solid grey;
                                                                text-align: left;
                                                                padding: 10px 60px 10px 10px;
                                                                width: 240px;
                                                                margin-right: 13px;
                                                            }
                                                            .menu li:hover,
                                                            .menu li>a:hover {
                                                                background-color: #919292;
                                                                color: #ECF0F1;
                                                                border: none;
                                                            }
                                                            .menu li {
                                                                margin-left: 0;
                                                                padding-left: 5px;
                                                            }
                                                            .set-bottom {
                                                                width: 100%;
                                                                top: -35px;
                                                            }
                                                            .set-top {
                                                                width: 100%;
                                                                top: 33px;
                                                            }
                                                            .user-table .table-heading,
                                                            td {
                                                                font-size: 8px;
                                                            }
                                                            .our-services-h2 {
                                                                margin-top: 0;
                                                            }
                                                            i.scroll {
                                                                font-size: 20px;
                                                            }
                                                            .scroll-text {
                                                                text-transform: uppercase;
                                                                font-weight: 300;
                                                                margin-top: 5px;
                                                                font-size: 10px;
                                                            }
                                                            .scroll-down {
                                                                left: 33%;
                                                            }
                                                            .our-services-h2 {
                                                                margin-top: 0;
                                                                font-size: 23px;
                                                            }
                                                            .our-portfolio-h2 {
                                                                font-size: 23px;
                                                                padding-top: 70px;
                                                            }
                                                            .portfolio-img {
                                                                height: 125px;
                                                                margin: 0;
                                                                padding: 0;
                                                                width: 210px;
                                                            }
                                                            .text-hover {
                                                                color: #FAFCFE;
                                                                font-size: 15px;
                                                                margin: 30px;
                                                                font-weight: 600;
                                                                margin-bottom: 10px;
                                                            }
                                                            .item-gradient {
                                                                background-color: rgba(58, 137, 189, .8);
                                                                height: 125px;
                                                                position: absolute;
                                                                width: 210px;
                                                                display: none;
                                                            }
                                                            .plus {
                                                                width: 45px;
                                                                height: 45px;
                                                                border-radius: 100%;
                                                                background-color: #FAFCFE;
                                                                margin: 0 auto;
                                                                color: rgba(58, 137, 189);
                                                                font-size: 38px;
                                                                text-align: center;
                                                            }
                                                            .line,
                                                            .line2 {
                                                                height: 3px;
                                                                width: 20px;
                                                            }
                                                            .cart {
                                                                display: block;
                                                            }
                                                            .cart-item {
                                                                width: 100%;
                                                                margin-bottom: 30px;
                                                            }
                                                            .our-services {
                                                                background-color: #FAFCFE;
                                                                height: 715px;
                                                            }
                                                            .cart-item i {
                                                                font-size: 35px;
                                                                margin-bottom: 10px;
                                                            }
                                                            .services-text {
                                                                color: #919292;
                                                                font-size: 12px;
                                                            }
                                                            .our-portfolio {
                                                                background-repeat: no-repeat;
                                                                background-size: cover;
                                                                background-position: center;
                                                                padding-bottom: 115px;
                                                            }
                                                            .our-portfolio+.set-bottom {
                                                                width: 100%;
                                                                position: relative;
                                                                top: -166px;
                                                            }
                                                            .table-text {
                                                                width: 100%;
                                                                text-align: center;
                                                                margin: 20px auto;
                                                                color: #919292;
                                                                font-size: 9px;
                                                            }
                                                            .burger-btn {
                                                                display: block;
                                                                background-color: transparent;
                                                                border: none;
                                                                width: 32px;
                                                                height: 28px;
                                                                position: relative;
                                                                bottom: 10px;
                                                            }
                                                            .burger-btn:before,
                                                            .burger-btn:after,
                                                            span:before,
                                                            span:after {
                                                                content: '';
                                                                position: absolute;
                                                                width: 100%;
                                                                height: 4px;
                                                                background-color: #fff;
                                                                border-radius: 3px;
                                                                left: 0;
                                                                transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
                                                            }
                                                            .burger-btn::before {
                                                                width: 70%;
                                                                left: 30%;
                                                                top: 0;
                                                            }
                                                            .burger-btn::after {
                                                                bottom: 0;
                                                            }
                                                            span:before,
                                                            span:after {
                                                                top: 50%;
                                                                margin-top: -2px;
                                                            }
                                                            .burger-btn:focus {
                                                                outline: none;
                                                            }
                                                            .burger-btn.active .burger-btn::before,
                                                            .burger-btn::after {
                                                                opacity: 0;
                                                            }
                                                            .burger-btn span {
                                                                display: block;
                                                            }
                                                            .burger-btn.active span:before {
                                                                transform: rotate(45deg);
                                                            }
                                                            .burger-btn.active span:after {
                                                                transform: rotate(-45deg);
                                                            }
                                                            .active {
                                                                display: block;
                                                            }
                                                        }